@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
}
body nav {
  background-color: transparent;
}
body nav ul {
  display: flex;
  margin-bottom: 0;
}
body nav ul li {
  list-style-type: none;
  margin: 1rem;
}
body nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
body nav ul li a:hover {
  color: rgb(255, 108, 70);
}
body main section.main-area {
  min-height: 70vh;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main section.main-area div.info {
  flex-basis: 450px;
  padding: 1rem;
}
body main section.main-area div.info h1 {
  font-size: 3.5rem;
}
body main section.main-area div.info h2 {
  font-size: 1rem;
}
body main section.main-area div.info a {
  color: white;
  background-color: rgb(255, 108, 70);
  text-decoration: none;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 2rem;
  transition: all 0.2s ease;
}
body main section.main-area div.info a:hover {
  transform: scale(1.2);
}
body main section.main-area div.img-area {
  flex-basis: 450px;
}
body main section.main-area div.img-area img {
  width: 100%;
}
body main section.about-me {
  background-color: rgb(255, 108, 70);
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section.about-me p {
  text-align: center;
  width: 50vw;
  padding-top: 1rem;
}
body main section.resume {
  display: flex;
  flex-wrap: wrap;
  padding-block: 2rem;
}
body main section.resume section.table {
  flex: 5 1 500px;
  padding: 2rem;
}
body main section.resume section.table table {
  --bs-table-bg: none;
  border-collapse: collapse;
}
body main section.resume section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
body main section.resume section.table table tr:hover {
  background-color: rgba(255, 107, 70, 0.694);
}
body main section.resume section.table table tr td {
  padding: 1rem;
}
body main section.resume section.picture {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main section.resume section.picture img {
  width: 80%;
}
body main section.resume section.picture div.orangeRect {
  width: 30vw;
  height: 90vh;
  border: 10px solid rgba(255, 107, 70, 0.694);
  position: absolute;
  top: 30px;
  right: 80px;
  z-index: -1;
}
body main section.resume section.picture div.orangeRect2 {
  width: 50vw;
  height: 40vh;
  border: 10px solid rgba(255, 107, 70, 0.694);
  position: absolute;
  top: 300px;
  left: -300px;
  z-index: -1;
}
body main section.resume section.picture div.orangeRect3 {
  width: 50vw;
  height: 40vh;
  border: 10px solid rgba(255, 107, 70, 0.694);
  position: absolute;
  top: 0px;
  left: -100px;
  z-index: -1;
}
body main section.profolio {
  background-color: rgb(255, 108, 70);
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section.profolio h2 {
  padding-bottom: 1rem;
}
body main section.profolio div.card:hover {
  transform: scale(1.03);
  transition: transform 0.15s ease-in-out;
}
body main section.contact {
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section.contact p,
body main section.contact a {
  text-align: center;
  width: 50vw;
  padding-top: 1rem;
  text-decoration: none;
  color: #000;
}
body main section.contact a {
  color: rgb(255, 108, 70);
}
body main section.contact a:hover {
  font-weight: bolder;
}
body main footer {
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 107, 70, 0.694);
  color: #000;
}
body main #topButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none; /* 預設隱藏按鈕 */
  height: 50px;
  width: 50px;
  background-color: rgba(102, 204, 255, 0.6705882353);
  color: #03045e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
body .backgroundForMobile {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body .backgroundForMobile li {
  position: absolute;
  display: block;
  list-style: none;
  width: 10px;
  height: 10px;
  background: rgba(102, 204, 255, 0.6705882353);
  animation: animate 39s linear infinite;
}
body .backgroundForMobile li:nth-child(2) {
  left: 64%;
  width: 141px;
  height: 141px;
  bottom: -141px;
  animation-delay: 1s;
}
body .backgroundForMobile li:nth-child(3) {
  left: 44%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 5s;
}
body .backgroundForMobile li:nth-child(4) {
  left: 46%;
  width: 134px;
  height: 134px;
  bottom: -134px;
  animation-delay: 10s;
}
body .backgroundForMobile li:nth-child(5) {
  left: 21%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 20s;
}

@media screen and (max-width: 767px) {
  .orangeRect,
  .orangeRect2,
  .orangeRect3 {
    display: none;
  }
  .section.resume {
    padding-block: 4rem 1rem;
  }
  .section.resume .section.picture img {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */